#######################################
### Host Platform selection section ###
#######################################

## Host platform selection
CONFIG_PLATFORM=HK6030

##############
## Packages ##
##############

CL_HP_FS="
config
firmware
kernel
scripts
utils
otp
"

###########
## Paths ##
###########

# Path to SVN tree
USER_SVN_BRANCH=http://moon/svn/celeno-swdb/target/branches/CL6000/6.0.x

# Path to NFS directory (optional)
USER_NFS_DIR=/home/trego/nfsroot

################################
## Cross-compilation (common) ##
################################

USER_CONF_SDK_PATH=$SDK_PATH
USER_CONF_CROSS_COMPILE=$CROSS_COMPILE
USER_CONF_CROSS_COMPILE_64=$CROSS_COMPILE_64
USER_CONF_LINUX_SRC=$LINUX_SRC
USER_CONF_SYSROOT_PATH=$SYSROOT_PATH

###########################################
## Cross-compilation (platform specific) ##
###########################################




if [ "$CONFIG_PLATFORM" = "HK6030" ]; then
    USER_CONF_CFLAGS+="-O2 -g --sysroot=$USER_CONF_SYSROOT_PATH"
    USER_CONF_LDFLAGS+="--sysroot=$USER_CONF_SYSROOT_PATH"
    USER_PKG_CONFIG_LIBDIR=$USER_CONF_SYSROOT_PATH/usr/lib/pkgconfig
fi

